:root {
    --title-font: 'Roboto', sans-serif;
    --primery-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background-color: #2E2F42;
    --white-background-color: #FFFFFF;
    --modal-background: #FCFCFC;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    color: var(--primery-brand-color);
}
.header-link {
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 500;
    Line height: 24px;
    cursor: pointer;
    color: var(--dark-color);
}
.adress > li {
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 24px;
    color: var(--body-text-color);
}

/**
  |============================
  | Body
  |============================
*/
body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-color);
}

/**
  |============================
  | Buttons
  |============================
*/
.filter-button {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: var(--primery-brand-color);
    background-color: var(--light-color);
}
.filter-button:hover,
.filter-button:focus {
    color: var(--white-background-color);
    background: var(--pressed-state-color);
}

/**
  |============================
  | Sections picture
  |============================
*/
.section-pictures {
}
.picture-title {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-color)
}
.picture-text {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--body-text-color);
}

/**
  |============================
  | Fotter
  |============================
*/
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: var(--primery-brand-color);
}
.text-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-color);
}